@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  position: relative;
}

.header-div-1 h1 {
  width: 300px;
  font-size: 2.5em;
}

.header-div-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-div-2 h3 {
  margin-bottom: 10px;
}

button,
a {
  font-size: 1em;
  width: 100%;
  border: none;
  background-color: white;
  outline: none;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

a button {
  width: 100%;
}

.anxiety-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  color: #fff;
  padding: 20%;
  gap: 20px;
  position: relative;
  background-color: #1c1c1c;
  background-image: linear-gradient(to right, #1c1c1c, #020202);
}

.anxiety-div button {
  width: 300px;
  padding: 10px;
}

/* .anxiety-div img, */
header img,
.rec-div img {
  filter: brightness(0.5);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

header img {
  filter: brightness(0.8);
}

p {
  font-size: 1.3em;
  text-align: center;
  /* margin: 20px 0; */
}

.stats-div {
  gap: 30px;
  width: 100vw;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-div img {
  width: 1000px;
}

.stat-divs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.stat-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  gap: 20px;
  transition: 0.3s transform;
  cursor: pointer;
}

.stat-div:hover {
  transform: scale(1.2);
}

.stat-div p {
  font-size: 1.1em;
}

.stat-div img {
  width: 100%;
}

.rec-div {
  gap: 20px;
  position: relative;
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  color: #fff;
}

.rec-divs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 100px;
}

.rec {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 250px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 15px;
  height: 200px;
  text-align: center;
  transition: 0.2s transform;
}

.rec:hover {
  transform: scale(1.05);
}

a,
h1,
h3,
p {
  text-align: center;
}

a:hover,
a:hover button {
  transform: scale(1.1);
}

a,
button {
  transition: 0.3s transform;
}

.rec a {
  width: 100%;
  background-color: #1c1c1c;
}

.rec button {
  background-color: #1c1c1c;
  color: #fff;
}

.rec p {
  font-size: 1em;
}

.anxiety-div a {
  width: 300px;
  padding: 0;
}

.rec i {
  font-size: 1.5em;
}
